<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataBeta4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F90EA5B91B6955B100153CA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F90EA5D21B6955B800153CA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F90EA5DD1B6955B900153CA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
